/* To make space between the navbar and content below*/
body {
    padding-top: 80px; 
}

/* Font settings here */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p, div {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #E97866;
    border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a {
  color: #E7E7E7;
}

.navbar-default .navbar-text {
    color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color:#E7E7E7;
}

.navbar-nav li a:hover {
    color: #808080 !important;
}

/* Container Padding */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;

}

.container-fluid.bg-2 {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Section styles */
.bg-1 {
    background-color: #b3c8c1;
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d;
    color: #ffffff;}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}

#top-jumbo { 
    margin-bottom: 0;
    }